<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h2>Employee Contacts</h2>
    </mat-card-title>
  </mat-card-header>
  <form (submit)="saved.emit(selectedContact)">
    <mat-card-content>
      <mat-form-field>
        <input matInput placeholder="Full Name" [(ngModel)] ="selectedContact.fullName" type="text" name="fullName">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Address" [(ngModel)] ="selectedContact.address"type="text" name="address">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="City" [(ngModel)] ="selectedContact.city"type="text" name="city">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="State" [(ngModel)] ="selectedContact.state"type="text" name="state">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Zip Code" [(ngModel)] ="selectedContact.zipcode"type="text" name="zipode">
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button type="submit" color="primary">
        Save
      </button>
      <button  mat-raised-button type="button" color="accent"
        (click)= "cancelled.emit(selectedContact)">
        Cancel
      </button>
    </mat-card-actions>
  </form>
</mat-card>
